/* Add this to your src/index.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans font-semibold;
}

@layer utilities {
  .static-bg::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200%;
    background-image: url('/noise.png');
    background-repeat: repeat;
    /* This makes the grain pattern smaller and appear finer */
    background-size: 50%; 
    animation: grain 8s steps(10, end) infinite;
    opacity: 0.1; /* Reduced opacity for a subtler effect on a dark bg */
    pointer-events: none;
    /* This places the static effect in the background layer */
    z-index: 0; 
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    /* If this setting is on, your page will turn red! */
    background-color: red !important;
  }
}