/* Add this to your src/index.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans font-semibold;
}

@layer utilities {
  .static-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnA3bTFpOXNoeHphdXVzMzVzZmd6MWZlYjJpeDFsN2E2Z3lraGw3YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YRcXl6VfNhCorklI0R/giphy.gif") repeat;
    background-size: 10%;
    opacity: 0.2; /* adjust intensity */
    animation: staticShift 2s steps(10) infinite;
    pointer-events: none;
    z-index: 0;
  }

  .gradient-overlay::before {
    content: '';
    position: absolute;
    inset: 0; /* A shorthand for top, right, bottom, left: 0 */
    /* Creates a gradient from transparent at the top to dark at the bottom */
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7));
    /* Places the gradient between the static (z-0) and the content (z-10) */
    z-index: 5;
    pointer-events: none; /* Ensures the overlay isn't clickable */
  }

  @keyframes staticShift {
    0%   { transform: translate(0, 0); }
    20%  { transform: translate(-10px, 5px); }
    40%  { transform: translate(10px, -5px); }
    60%  { transform: translate(-5px, 15px); }
    80%  { transform: translate(5px, -10px); }
    100% { transform: translate(0, 0); }
  }
}

